<div class="contact-container">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <h2>Get in Touch</h2>

    <!-- Name Field -->
    <div class="form-group">
      <label for="name">Full Name</label>
      <input
        id="name"
        formControlName="name"
        placeholder="Enter your name"
        [class.error]="
          contactForm.get('name')?.invalid && contactForm.get('name')?.touched
        "
      />
      <small
        *ngIf="
          contactForm.get('name')?.invalid && contactForm.get('name')?.touched
        "
        >Name is required.</small
      >
    </div>

    <!-- Email Field -->
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="email@example.com"
        [class.error]="
          contactForm.get('email')?.invalid && contactForm.get('email')?.touched
        "
      />
      <small
        *ngIf="
          contactForm.get('email')?.invalid && contactForm.get('email')?.touched
        "
        >Enter a valid email.</small
      >
    </div>

    <!-- Message Field -->
    <div class="form-group">
      <label for="message">Message</label>
      <textarea
        id="message"
        formControlName="message"
        rows="4"
        placeholder="How can I help?"
      ></textarea>
    </div>

    <!-- Submit Button -->
    @if (isSentFailed) {
      <button type="submit" class="mybtn">
        Failed to sent message
      </button>
    } @else if (isSent) {
      <button type="submit" class="mybtn">
        Message sent successfully
      </button>
    } @else {
      <button type="submit" [disabled]="contactForm.invalid" class="mybtn">
        @if (!loading) {
          <span>Send Message</span>
        } @else {
          <div class="spinner"></div>
        }
      </button>
    }
  </form>
</div>
